org/*.el
*~
bookmarks
url/*
/cider-history
/local/mellon.el.gpg
/local/mellon*
/elpa/archives/
*.elc
/elpa/*.txt
/.org-id-locations
/var/*
/ac-comphist.dat
/jabber-avatar-cache/*
/jabber-history/*
/emms/*
/projectile-bookmarks.eld
/.mc-lists.el
/org-clock-save.el
/tramp
/erc/logs/
/bbdb
/eshell
/org-gcal/
/session.*
network-security.data
semanticdb/
/diary
/transient
.projectile
projectile.cache
/workspace
/eclipse.jdt.ls
forge-database*
.lsp-session*
.cache/
recentf
straight/repos
straight/build-cache.el
eln-cache/*
persist/*
.org-generic-id-locations
oauth2-auto.plist
request/curl-cookie-jar
persist/**
org-roam.db
code-review-*
.dap-breakpoints
**/*.pyc
