;;; public entries -*- mode: plstore -*-
(("%28%22chris.howejones%40gmail.com%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMCDme+RXE6J77/0sDqAQ3CmX57CnkPs4zQoCv1xkhUDhsSOag/iIylPMVL
35ue48sBt6qzdo8e53ZB3Rhkti6SAsYqPuzzyZLhaoc8InLmYsjV6k+eOm6G59BS
64gNPdPBT8RRw0sgcYYvQHWSYGh3v8oDB0ngfSLLgHuVb7e+w8/OqqzmUEgaduc9
Gt/iTwk8Z9YkTl4msUNl8EZ0yrquLuU1YleT4CsKi2oyvm4S0STIrQ1ZwspI8bUj
Dk5Ko5TmSOtvKtbNs3PyVfD6qLL/0RCWlSMVN//qSUtf+YiHcsJvd1zwR7wU/yNV
7EX8bcKGdzg2kqidH0WPp0gLg7Br+361eo8TZURQAjB7mmv6VkT9XTFcrZNb0pFP
EvqUsz0PGO26EO3Yd3NjirMwBpjSIUzGNOa8BGZhr+2wPHgBIgfVPaWyqd0LCkRR
RdoGXG2dtrYzpd3y64jc7JFqtYywueMgEvTkrS/im3m5SkRFep/18lYyzwFtNjPk
VVJN2FT6B4KrIB8dIo57PFX2aQxFwvImzaI3VxAmHbl62YWg6PzirnLn6WnILE67
14BqOPWD9qJYJvwV
=lhsM
-----END PGP MESSAGE-----
"
